@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme {
  --font-sans: "Public Sans", sans-serif;
  --font-serif: "Instrument Serif", serif;

  --color-primary-50: var(--color-lime-50);
  --color-primary-100: var(--color-lime-100);
  --color-primary-200: var(--color-lime-200);
  --color-primary-300: var(--color-lime-300);
  --color-primary-400: var(--color-lime-400);
  --color-primary-500: var(--color-lime-500);
  --color-primary-600: var(--color-lime-600);
  --color-primary-700: var(--color-lime-700);
  --color-primary-800: var(--color-lime-800);
  --color-primary-900: var(--color-lime-900);
  --color-primary-950: var(--color-lime-950);
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
